.header {
    height: 250px;
    background-color: #000;
    position: relative;
    
    background-size: cover; /* Đảm bảo hình ảnh phủ kín phần tử */
    background-position: center; /* Đặt vị trí hình ảnh ở giữa */
}
.box {
    width: 28%;
    height: 250px;
    background: #fff;
    clip-path: polygon(0 0, 100% 0, 75% 100%, 0 100%);
    position: absolute;
    opacity: 0.5;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.logo {
    width:  300px;
    height: 150px;
}