.table-ranking {
    border: 2px solid #000;
    width: 100%;
    border-radius:  5px;
}

.tab-ranking {
    display: flex;
    justify-content: space-between;
    padding: 0px 12px;
    background-color: #ccc;
    margin: 0;
}

.item-ranking {
    display: flex;
    justify-content: space-between;
    padding: 12px 12px;
    margin: 0;
}
.rank {
    width: 5%;

}
.change {
    width: 10%;

}

.name {
    display: flex;
    width: 20%;
    gap: 20px;
    justify-content: center;

}
.team {
    display: flex;
    width: 30%;
    gap: 20px;
    justify-content: center;

}
.age {
    width: 10%;

}

.exam {
    width: 20%;
}
.point {
    width: 20%;
    font-weight: 900;

}
.avatar-name {
    width: 50px;
    border: 1px solid #000;
    border-radius: 50%;
    height: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.avatar-team {
    width: 70px;
    border: 1px solid #ccc;
    height: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 5px;
}